{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/activitiesdesign.css' %}">
</head>
<body>
    <header>
        <div class="information">
            <a href="#">About us</a>
            <a href="#">Avis</a>
            <a href="#">Contact</a>
            <a href="#">Login</a>
        </div>
    </header>

 <h1>{{ loisir.nom_loisir }}</h1>
    <div class="activity">
    <div class="image-container">
        <img src="{% static 'images/loisirs/'%}{{loisir.id_loisir}}.jpeg"></div>
        <h2>{{ loisir.description }}</h2>
        <p>{{ loisir.categorie.get_categorie_display}}</p>
        <p>{{ loisir.num_voie }} {{ loisir.name_voie }}, {{ loisir.code_postal }} {{ loisir.ville }}</p>
        <p>{{ loisir.saison }}</p>
        <p>{{ loisir.prix_fournisseur.prix_fournisseur }}</p>
        </div>
</body>
</html>