{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'js/autocompletebis.js' %}"></script>
{% endblock %}

{% block page_title %}
    <h1>Nos activitées</h1>
{% endblock %}

{% block content %}
    <div class="spacing">
    <div class="dropdown">
        <button class="dropbtn">Choisir la categorie</button>
        <div class="dropdown-content">
            {% for categorie in Categories %}
                <li><a href="/activities/{{categorie.categorie}}/">{{ categorie.get_categorie_display }}</a></li>
            {% endfor %}
        </div>
    </div>
    </div>
<div class="search">
    <label for="searchInput"></label>
    <input type="text" id="searchInput" placeholder="Rechercher...">
 </div>
    {% for loisir in Loisirs %}
        <div class="activity">
            <div class="image-container">
                <img src="{% static 'images/loisirs/'%}{{loisir.id_loisir}}/1.jpeg">
            </div>
            <h1>{{ loisir.nom_loisir }}</h1>
            <h2>{{ loisir.description }}</h2>
            <div class="button-container">
                <a href="/activity/{{ loisir.id_loisir }}/" class="activity-button">Découvrir</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
