{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/activitiesdesign.css' %}">
</head>
<body>
    <header>
        <div class="information">
            <a href="#">About us</a>
            <a href="#">Avis</a>
            <a href="#">Contact</a>
            <a href="#">Login</a>
        </div>
    </header>
<h1>Activities</h1>
    <div class="dropdown">
        <button class="dropbtn">Choisir la categorie</button>
        <div class="dropdown-content">

              <li>{% for categorie in Categories %}
                      <a href="/activities/{{categorie.categorie}}/">{{ categorie.get_categorie_display }}</a>
                  </li>
            {% endfor %}


        </div>
    </div>


    {% for loisir in Loisirs %}<div class="activity">
    <li><div class="image-container">
        <img src="{% static 'images/loisirs/'%}{{loisir.id_loisir}}.jpeg">
        </div>
        <h1>{{ loisir.nom_loisir }}</h1>
        <h2>{{ loisir.description }}</h2>
        <div class="button-container">
        <a href="/activity/{{ loisir.id_loisir }}/" class="activity-button" >Découvrir</a></div>
           </div>
    {% endfor %}

</body>
</html>