{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/activitiesdesign.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class="information">
            <a href="/home">Accueil</a>
            <a href="#">Avis</a>
            <a href="#">Contact</a>
            {% if user.is_authenticated %}
                <div class = "dropdown-client">
                <div class="dropbtn-client">
            <a href="#"> {{user.nom_utilisateur }} </a></div>
                <div class="dropdown-content-client">
                    <li>
                        <a href="{% url 'compte' %}">Compte</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </div>
                </div>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}

        </div>
    </header>
    <h1>{% block page_title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
</body>
</html>
