{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/activity.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class="information">
            <a href="/home">Accueil</a>
            <a href="/activities">Activitées</a>
            <a href="/packs">Packs</a>
            {% if user.is_authenticated %}
                <div class = "dropdown-client">
                <div class="dropbtn-client">
            <a href="#"> {{user.nom_utilisateur }} </a></div>
                <div class="dropdown-content-client">
                    <li>
                        <a href="{% url 'compte' %}">Compte</a>
                        <a href="{% url 'logout' %}">Déconnexion</a>
                    </li>
                </div>
                </div>
            {% else %}
                <a href="{% url 'login' %}">Connexion</a>
            {% endif %}
        </div>
    </header>
    <h1>{% block page_title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
</body>
</html>
