{% extends 'base.html' %}
{% load static %}

{% block page_title %}Pack{% endblock %}


{% block content %}
    <label for="searchInput">Rechercher :</label>
    <input type="text" id="searchInput" placeholder="Rechercher...">
    {% for pack in Pack %}
        <div class="activity">
            <div class="image-container">
                <img src="{% static 'images/pack/'%}{{pack.id_pack}}.jpeg">
            </div>
            <h1>{{ pack.nom_pack }}</h1>
            <h2>{{ pack.description }}</h2>
            <div class="button-container">
                <a href="/pack/{{ pack.id_pack }}/" class="activity-button">Découvrir</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}



  <script>
        $(function() {
            var availableLoisirs = [
                {% for pack in all_packs %}
                    "{{ pack.nom_pack }}",
                {% endfor %}
            ];

            $("#searchInput").autocomplete({
                source: availableLoisirs,
                minLength: 2,
                select: function(event, ui) {
                    window.location.href = ui.item.url;
                }
            });
        });
    </script>