{% extends 'base.html' %}
{% load static %}

{% block page_title %}Pack{% endblock %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}
{% block content %}

    <label for="searchInput"></label>
    <input type="text" id="searchInput" placeholder="Rechercher...">
    {% for pack in Pack %}
        <div class="activity">
            <div class="image-container">
                <img src="{% static 'images/packs/'%}{{pack.id_pack}}.jpeg">
            </div>
            <h1>{{ pack.nom_pack }}</h1>
            <h2>{{ pack.description }}</h2>
            <div class="button-container">
                <a href="/pack/{{ pack.id_pack }}/" class="activity-button">Découvrir</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}


