{% extends "base_1.html" %}
{% load static %}
{% block content %}
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
<head>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
    <div class="login_data">
  <form method="post" action="{% url 'login' %}">

    {% csrf_token %}
    <table>
        <div class="username">
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
            </div>
        <div class="password">
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
            </div>
    </table>
      <div class="submitbtn">
    <input  type="submit" value="Log in" >
      </div>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
<div class="other_options">
  {# Assumes you setup the password_reset.html view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Mot de passe oublié?</a></p>
    <p><a href="{% url 'inscription' %}">S'inscrire</a></p>
</div>
    </div>

{% endblock %}
