body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    }
    .information{
        background-color: lavender;
        height: 40px;
        text-align: right;
        align-content: center;
        vertical-align: middle;
    }
    .information a{
        margin-top: 0%;
        font-size: 20px;
        display: inline;
        vertical-align: middle;
        color: #333;
        margin-right: 10px;
    }

.reservation-container {
    background-color: white;
    text-align: center;
    align-self: center;
    box-sizing: border-box;
    outline: 1px solid palevioletred;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    border-radius: 10px;
    opacity: 0.9;
    padding: 5px;
    line-height: 1.5;
}

.reservation_container h3{
  padding: 10px;
}

.activity_data{
   max-width: 75%;
    margin: auto;
    padding: 0 20px; /* Ajoutez une marge à droite pour l'espace entre le texte et l'image */
    box-sizing: border-box;
    margin-left: auto;
}
.material-icons {
            vertical-align: middle;
        }


.description_activity {
    display: inline-block;
    margin: 2px;
    vertical-align: middle;
    max-width: 100%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
     flex: 1; /* Occupe l'autre moitié de l'espace disponible */
    max-width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.dropbtn-client {
    background-color: lavender;
}
.dropdown-client {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-client {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-client a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-client a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-client:hover .dropdown-content-client {display: block;list-style: none; text-align: justify}


